name: Build and Publish Docker Image

on:
  create:
    tags:
      - v*

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Publish to Registry ${{ github.ref }}
        uses: elgohr/Publish-Docker-Github-Action@master
        with:
          name: orlmonteverde/goreleaser-quick-start
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          tag_semver: true
